<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Importer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Importer.Properties.Settings>
            <setting name="MonitoredFolder" serializeAs="String">
                <value>C:\ProgramData\UsTecFile\MonitoredFolder</value>
            </setting>
            <setting name="ErrorFolder" serializeAs="String">
                <value>C:\ProgramData\UsTecFile\ErrorFolder</value>
            </setting>
            <setting name="ProcessedFolder" serializeAs="String">
                <value>C:\ProgramData\UsTecFile\ProcessedFolder</value>
            </setting>
            <setting name="FileFormat" serializeAs="String">
                <value>*.csv</value>
            </setting>
            <setting name="RetryCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="RetryInterval" serializeAs="String">
                <value>5</value>
            </setting>
        </Importer.Properties.Settings>
    </userSettings>
</configuration>